
{% extends "base.html" %} {% block title %}Home{% endblock %}


{% block content %} 

<h1> 
    this is the discover by price page
    
</h1>
<body> 

    input boxes with min & max for end-user to specify budget 
    
    <br>
    <br>
    <br>

    min & max will be used to query wineDF & call on the "price" column 




</body> 

    this is the price page 

    <br> 

    add min & max input boxes that will query wineDF & call on "price" column 


    
</h1>
{% endblock %}</div>